<article class="container block-bio">
  <div class="col-2">
    <div class="img">
      <img src="img/me.jpg" />
    </div>
    <h3>Hi there! My name is Matthew Landers and I am a digital designer based out of the Greater Boston area.</h3>
    <p>I thoroughly enjoy designing for the web and my strength lies in delivering user-centered designed websites and apps. Over the last 5 years I have worked on some really great projects ranging from mobile e-commerce, software as a service and digital client services for a multitude of businesses.</p>
    <p><em>Accounts I have had the great opportunity to work on:</em></p>
    <div class="container logo-bar">
      <div class="col-4"><img src="img/logos/hilton-logo.png" /></div>
      <div class="col-4"><img src="img/logos/mass-gov.png" /></div>
      <div class="col-4"><img src="img/logos/carnival-logo.png" /></div>
      <div class="col-4"><img src="img/logos/reebok-logo.png" /></div>
      <div class="col-4"><img src="img/logos/web5-logo.png" /></div>
      <div class="col-4"><img src="img/logos/flor-logo.png" /></div>
      <div class="col-4"><img src="img/logos/sc-logo.png" /></div>
      <div class="col-4"><img src="img/logos/us-mattress.png" /></div>
    </div>
  </div>
</article>
