<section>
  <article class="container block-bio">
    <div class="col-2 img">
      <img src="img/me.jpg" />
    </div>
    <div class="col-2">
      <h4>Hi there! My name is Matthew Landers and I am a digital designer based out of the Boston Area.</h4>
      <p>I thoroughly enjoy designing for the web and my strength lies in delivering user-centered design websites and apps. Over the last 5 years I have worked on some really great projects ranging from mobile e-commerce, software as a service and digital client services for a multitude of businesses.</p>
    </div>
  </article>
</section>
