<section class="block-spotlight block-recent-code">
  <article class="container">
    <h2>Recent Work</h2>
  </article>
  <article class="container">
    <div class="col-2">
      <h3><a href="https://doversherbornboosters.com/" target="_blank">DS Boosters</a></h3>
      <p>Project leader, visual design and wp development<p>
      <h3><a href="https://mcopro.com/" target="_blank">Medical Center</a></h3>
      <p>Interactive wireframing and visual design<p>
      <h3><a href="http://www.dicdonohue.com/" target="_blank">Dic Donohue</a></h3>
      <p>WP child theme design and development<p>
    </div>
    <div class="col-2">
      <h3><a href="https://dribbble.com/landahhs/projects/471812-DailyUI" target="_blank">DailyUI Challenge</a></h3>
      <p>Interface design challenges<p>
      <h3><a href="http://www.brcsm.com/" target="_blank">BRCSM</a></h3>
      <p>Visual design and wp development<p>
      <h3><a href="http://bobwebb.com/" target="_blank">Bob Webb</a></h3>
      <p>Visual design and wp development<p>
    </div>
  </article>
</section>
