<section class="block-spotlight block-recent-code">
  <article class="container">
    <h2>Recent Work</h2>
  </article>
  <article class="container">
    <div class="col-2">
      <h3><a href="https://mcopro.com/" target="_blank">Medical Center</a></h3>
      <p>Lead designer responsible for creating interactive wireframes and high fidelity designs<p>
      <h3><a href="http://www.dicdonohue.com/" target="_blank">Dic Donohue</a></h3>
      <p>Lead wordpress developer responsible for child theme front-end and back-end development<p>
      <h3><a href="http://bobwebb.com/" target="_blank">Bob Webb</a></h3>
      <p>Lead designer and developer responsible for high fidelity designs, child theme front-end and partial back-end development<p>
    </div>
    <div class="col-2">
      <h3><a href="http://www.brcsm.com/" target="_blank">BRCSM</a></h3>
      <p>Lead wordpress developer responsible for child theme front-end and partial back-end development<p>
      <h3><a href="http://www.pineconeconstruction.com/" target="_blank">Pine Cone Construction</a></h3>
      <p>Lead SquareSpace development<p>
    </div>
  </article>
</section>
